.to-do-input {
    background: white;
    border: none;
}

.strike-through {
    text-decoration: line-through;
}

.to-do p {
    width: 100%;
    overflow: hidden;
    color: #F3F0F0;
    display: inline-block;
}

.todo-item {
    width: 75%;
    text-align: center;
    display: inline-block;
}

.font-large {
    font-size: 20px;
    font-style: normal;
}

.button {
    margin-left: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 12px;
}

.checkbox {
	width: 20px;
    height: 20px;
}

.to-do {
    width: 100%;
    background: #B3A08D;
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    padding: 20px;
    margin-top: 20px;
}
