.to-do-input {
    background: white;
    border: none;
}

.strike-through {
    text-decoration: line-through;
}

.to-do p {
    display: inline-block;
}

.todo-item {
    display: inline-block;
}

.font-large {
    font-size: 50px;
    font-style: normal;
}